@import url(https://fonts.googleapis.com/css?family=Montserrat);
body
{
    background-color: aqua;
}

h1
{
    color: whitesmoke;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
    font-size: clamp(50px, 75px, 100px);
    margin-bottom: 30px;
}

h2
{
    color: whitesmoke;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
    font-size: 100px;
    margin-top: 30px;
}

h3
{
    color: whitesmoke;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
    font-size: 50px;
    margin-bottom: 30px;
}

p
{
    color: whitesmoke;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
    margin: 5px;
    font-size: 40px;
    display: inline-block;
    word-wrap: break-word;
}

.inputs
{
    text-align: center;
}

br
{
    font-size: 25px;
}

a
{
    margin: 20px;
    /* font-size: 40px; */
    font-size: 37px;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
}

a:hover
{
    text-decoration: underline;
}

.homework_bar
{
    background-color: rgb(52, 77, 143);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Added */
    align-items: center; /* Added */
}


h1.class
{
    display: flex;
    background-color: rgb(143, 163, 255);
    border-radius: 20px;
}

button
{
    background-color: rgb(110, 110, 255);
    border: none;
    border-radius: 6px;
    font-size: 35px;
    margin: 10px;
    padding: 14px, 8px;
    cursor: pointer;
}

button:active
{
    background-color: rgb(78, 78, 255);
}

button:hover
{
    box-shadow: 0 0 10px rgb(69, 69, 218);
}

.addbutton
{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}

.plus
{
    width: 40px;
    height: 42px;
    color: whitesmoke;
}

input
{
    background-color: rgb(143, 163, 255);
    border: none;
    width: 300px;
    height: 42px;
    margin: 10px;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
}

.list
{
    height: auto;
}

.box
{
    background-color: rgb(57, 114, 235);
    border-radius: 20px;
    margin-top: 50px;
}

.patchnote_bar
{
    background-color: rgb(57, 114, 235);
    border-radius: 20px;
    margin-bottom: 30px; 
    transition: 0.6s;
}

.patchnote_bar h1
{
    margin-left: 10px;
    margin-bottom: 3px;
}

.version_bar
{
    background-color: rgb(80, 130, 236);
    border-radius: 20px;
    transition: 0.6s;
}


.homework_bar
{
    display: block;
    background-color: rgb(52, 77, 143);
    border-radius: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.assignment_bar {
    background-color: rgb(59, 84, 155);
    padding-bottom: 20px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.schedulebackground
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.schedulebox
{
    background-color: rgb(30, 75, 173);
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 9px;
    transition: .9s;
}

.schedulebox:hover
{
    background-color: rgb(40, 91, 202);
    border-radius: 20px;
    width: 175px;
    height: 175px;
    margin-right: 3px;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 9px;
    box-shadow: 5px 5px 5px 5px #0482C4;
    z-index: 2;
    cursor: pointer;
}

.schedulebox-CurrentDay
{
    background-color: rgb(40, 91, 202);
    border-radius: 20px;
    width: 175px;
    height: 175px;
    margin-right: 13px;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 9px;
    transition: 1s;
    box-shadow: 5px 5px 5px 5px #0482C4;
    z-index: 1;
    cursor: pointer;
}

.DateBox
{
    background-color: rgb(27, 58, 124);
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    transition: 1s;
}

p.scheduletext
{
    /* font-size: 15px; */
    font-size: 13px;
    text-align: center;
}

p.scheduletextbold
{
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
    margin-top: 25%;
    margin-right: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
    top: 0%;
    left: 0%;
    overflow: hidden;
    background-color: rgb(62, 105, 199);
    z-index: 3;
    margin: 0;
}

li {
    display: inline-block;
}  

li a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100%;
    padding-top: 100%;
    margin: 0;
    /* font-size: 30px; */
    font-size: clamp(24px, 30px, 34px);
    transition: .6s;
}

@media screen and (max-width: 1366px)
{
    li a
    {
        font-size: 27px;
    }
}

@media screen and (min-width: 1367px)
{
    li a
    {
        font-size: 30px;
    }
}



li a:hover {
    background-color: rgb(52, 89, 168);
}

.active {
    background-color: rgb(46, 190, 190);
}

img.logo
{
    margin-left: 2.5px; 
    margin-right: 2.5px;
    width: 39px;
    height: 39px;
}

.grid 
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    margin: 0;
    overflow-x: auto;
}



.left
{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.center
{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.right
{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
}

.LoginButton
{
    margin: 0%;
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 160px;
    transition: 10px;
}

.SignUpButton
{
    background-color: #3972EB;
    margin: 0%;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 160px;
}

.theme-dropdown 
{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}

.dropdown-content 
{
    display: none;
    position: fixed;
    background-color: rgb(52, 89, 168);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
    padding: 0;
    border: none;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0;
    transition: .6s;
}

.theme-dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown-content a:hover 
{
    cursor: pointer;
    background-color: rgb(44, 97, 211);
}

.ColorWheelContainer
{
    /* none */
}

.UI 
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(56, 56, 56, 0.473);
    transition: 0.9s;
}

.Update-Pop-Up-Background 
{
    background-color: #396ee0;
    width: 40vw;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    height: 90vh;
    margin-top: 5vh;
    transition: 0.6s;
}

.Feature-Row
{
    width: 100%;
    height: 60vh;
    display: grid;
    /* grid-template-columns: 1fr; */
    
}
.OuterBubble
{
    display: grid; 
    border-radius: 60px; 
    width: 80px; 
    height: 80px; 
    background-color: white; 
    margin-left: 5px;
    padding-right: 6px;
    padding-left: 6px;
}

.InnerBubble
{
    display: grid;
    border-radius: 60px; 
    width: 65px; 
    height: 65px; 
    margin: 0%; 
    align-self: center; 
    justify-self: center;
    background-color: #396ee0;
}

p.BubbleNumber
{
    font-size: 50px;
    align-self: center;
    justify-self: center;
    margin: 0;
}

.CustomColorDropDown
{
    display: grid;
    width: 100%;
    height: 160px;
    transition: 0.6s;
}

input[type="color"]
{
    background: none;
    border-radius: 64px;
    align-self: center;
    justify-self: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

input[type="file"]
{
    width: 120px;
}

p.AccountFail
{
    font-size: 20px;
    display: none; 
    text-align: center;  
    color: rgb(247, 103, 103);
}

select {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(117, 141, 245);
    border: 1px solid #ccc;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
    margin: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
}

option
{
    background-color: rgb(117, 141, 245);
}

textarea
{
    width: 80%; 
    height: fit-content; 
    overflow-y: hidden;
    background-color: rgb(143, 163, 255);
    border: none;
    margin: 10px;
    border-radius: 15px;
    color: whitesmoke;
    resize: none;
    font-size: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
}

.loading-icon 
{
    display: inline-block;
    margin: 20px auto; /* Adjust margin as needed */
}

.dot 
{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-color: rgb(53, 137, 248); */
    background-color: whitesmoke;
    animation: dots 4s infinite ease-in-out;
    margin: 0 5px; /* Adjust spacing between dots */
}

.dot:nth-child(2) 
{
    animation-delay: 0.2s;
}

.dot:nth-child(3) 
{
    animation-delay: 0.4s;
}

@keyframes dots {
    0% {
      transform: scale(1) translateY(0);
    }
    25% {
      transform: scale(1.25) translateY(-10px);
    }
    50% {
      transform: scale(1) translateY(0);
    }
    75% {
      transform: scale(0.75) translateY(10px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }
  