@font-face {
  font-family: "roboto";
  src: url("Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

html,
body {
  overscroll-behavior: none;
}

body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

h1 {
  font-family: "roboto";
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

p {
  font-family: "roboto";
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.BackgroundHolder {
  position: fixed;
  margin: 0%;
  padding: 0%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-image: linear-gradient(
    to bottom right,
    rgb(109, 189, 189),
    rgb(176, 91, 255)
  );
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.localcenter {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
}

.box {
  background-color: rgba(219, 255, 255, 0.555);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
}

input {
  background-color: rgba(255, 255, 255, 0.705);
  border-width: 2px;
  margin: 5px;
  border-color: black;
  border-style: solid;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 10px;
}

input:focus {
  outline: none;
}

button {
  color: white;
  font-size: 2rem;
  background-color: rgb(146, 230, 255);
  padding: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: rgb(116, 204, 231);
  cursor: pointer;
}

button:active {
  background-color: rgb(89, 182, 211);
}

.Calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.2rem;
}

.CalendarBox {
  min-height: 146px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  background-color: rgba(83, 186, 255, 0.596);
}

.CalendarBox p {
  text-align: center;
  margin: 0%;
  margin-bottom: 10px;
}

.CalendarLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(154, 154, 255);
}

.CalendarLabel p {
  margin: 0%;
  padding: 0%;
}

.NavBar {
  background-color: rgba(193, 230, 230, 0.76);
  position: sticky;
  align-items: center;
  z-index: 2;
  top: 0%;
  left: 0%;
  margin: 0%;
  margin-bottom: 2rem;
  padding: 0%;
  width: 100vw;
}

.NavBar p {
  margin: 0%;
  padding: 0%;
  font-size: 2rem;
  color: white;
}

.loading {
  width: 50px;
  height: 50px;
  border: 6px solid #eed4ff;
  border-top: 6px solid #1f7cff;
  border-radius: 50%;
  animation: Spin 1s linear infinite;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbutton {
  transition: 250ms;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(59, 59, 59, 0.582);
  z-index: 2;
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: rgba(193, 230, 230, 0.76);
  position: fixed;
  right: 0;
  padding-right: 4rem;
  padding-left: 1rem;
  z-index: 3;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 500ms ease;
}

.sidebar.offscreen {
  transform: translateX(100%);
}

.sidebar p {
  font-size: 2rem;
  width: fit-content;
}

.navbutton:hover {
  transform: scale(110%);
}

.PatchBox {
  padding: 0%;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
}

.PatchBox h1 {
  margin: 0.5rem;
  font-size: 2rem;
}

.PatchBox p {
  margin: 0.5rem;
  font-size: 2rem;
}

.PatchHeader {
  margin: 0%;
  padding: 0.5rem;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  background-color: rgba(136, 194, 249, 0.555);
}

.PatchHeader h1 {
  font-size: 3rem;
  margin: 0%;
}

textarea {
  overflow: visible;
  width: 90%;
  font-size: 1.5rem;
  color: black;
  padding: 0.7rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.705);
}

.HomeworkHolder {
  width: 100%;
}

.HomeworkBox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 95%;
  border-radius: 20px;
  padding-bottom: 1px;
  background-color: rgba(136, 194, 249, 0.555);
}

.HomeworkBox h1 {
  margin-bottom: 0%;
}

.right {
  /* padding: 10px; */
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: right;
}

.right button {
  margin-right: 1rem;
}
